
$sidebarW: 100px;

html,
body,
div#app,
div.wrap-all {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  font: 13px/17px $stdFont;
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


main {
  position: absolute;
  top: 0px;
  left: $sidebarW;
  padding: 25px;
  width: calc(100% - #{$sidebarW});
  height: 100%;
  overflow: scroll;
}

section {
  margin-bottom: 40px;
}
