
// Vars

$headerH: 75px;
$sidebarW: 100px;


// Mixins/Extends

%draggable {
  -webkit-app-region: drag;
}

%not-selectable {
  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
  }
  input, button, textarea, :focus {
    outline: none;
  }
}


// Elements

body {
  font: 13px/17px $stdFont;
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
